@model GestionDVDs.Models.LoginViewModel
@{
    ViewBag.Title = "User Login";
}
@{ Layout = "~/_AuthLayout.cshtml"; }
<div class="col-md-10 offset-1">
    <div class="login-form-icon">
        <i class="fas fa-9x text-secondary"> <img class="card-img-top imageThumbnail" style="max-width: 50%;  max-height : 50%;" src="@Url.Content("~/Images/cle.png")" alt="Card image"></i>
    </div>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email Address" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <input asp-for="Password" class="form-control" placeholder="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Connexion</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
