@{
    ViewData["Title"] = "Contact";
}
<br />


<h3 class="text-danger">Pour modifier un compte admin, contactez:</h3>
<br/>
<address>
    5615 Boul Gouin O<br />
    Sainte-Geneviève, QC H9H 5K8<br />
    <abbr title="Phone">Téléphone:</abbr>
    (514) 626-2666 <br />
    <abbr title="Télécopieur">Telecopieur:</abbr>
    (514) 626-2666
</address>
<address>
    <strong>Support:</strong> <a href="mailto:information@cgodin.qc.ca">information@cgodin.qc.ca</a><br />
</address>
